@{
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<head>
    <title>Biểu đồ Bar Chart với nhiều dataset</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Thông kê lợi nhuận</li>
            </ol>
        </nav>
    </div>

    <div class="col-md-16 mb-12">
        <div class="card shadow">
            <div class="card-body">
                <!-- Default Tabs -->
                <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-justified" type="button" role="tab" aria-controls="home" aria-selected="true">Đồ thị</button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-justified" type="button" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">Số liệu</button>
                    </li>
                </ul>

                <div class="row" style="padding: 20px;justify-content: center;">
                    <label class="col-sm-auto col-form-label">Từ ngày</label>
                    <div class="col-sm-3">
                        <input type="text" name="tuNgay" class="form-control" value="20-11-2023" placeholder="dd-MM-yyyy" id="tuNgay">
                    </div>
                    <label class="col-sm-auto col-form-label">Đến ngày</label>
                    <div class="col-sm-3">
                        <input type="text" name="denNgay" class="form-control" value="20-11-2023" placeholder="dd-MM-yyyy" id="denNgay">
                    </div>
                    <div class="col-md-1 mb-2 col-lg-1 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" onclick="baoCaoLoiNhuan()">
                            <i class="bi bi-box-arrow-in-down"></i>
                        </button>
                    </div>
                </div>

                <div class="tab-content pt-2" id="myTabjustifiedContent">
                    <div class="tab-pane fade active show" id="home-justified" role="tabpanel" aria-labelledby="home-tab">
                        <div style="width: 80%; margin: auto;">
                            <canvas id="myBarChart"></canvas>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-justified" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table table-bordered table-hover table-striped text-center" id="tableChiTietPhieuNhap">
                            <thead style="position: sticky; top: 0;">
                                <tr>
                                    <th>STT</th>
                                    <th>Ngày</th>
                                    <th>Doanh thu</th>
                                    <th>Giá vốn</th>
                                    <th>Lợi nhuận</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyBaoCaoLoiNhuan">
                            </tbody>
                            <tfoot>
                                <tr id="tongTien">                               
                                    <td colspan="2">Tổng</td>
                                    <td><input type="text" readonly class="form-control formatted-number" id="doanhThu" value="" /></td>
                                    <td><input type="text" readonly class="form-control formatted-number" id="giaVon" value="" /></td>
                                    <td><input type="text" readonly class="form-control formatted-number" id="loiNhuan" value="" /></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="contact-justified" role="tabpanel" aria-labelledby="contact-tab">
                        Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.
                    </div>
                </div><!-- End Default Tabs -->

            </div>
            </div>
    </div>
</body>
<script src="~/jsadmin/common.js" defer asp-append-version="true"></script>
<script src="~/jsadmin/baocaoloinhuan.js"></script>