@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    QuanLyBanHangContext context = new QuanLyBanHangContext();



    //string getTenNhom(int? id)
    //{
    //    if (id > 0)
    //    {
    //        return context.HangHoas.Find(id).TenHh;

    //    }
    //    else
    //    {
    //        return "";
    //    }
    //}

}


<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <h5 class="card-title">Datatables</h5>
                        </div>
                        <div class="col-auto mt-3">
                            <a href="/HangHoa/Them" class="btn btn-success">Thêm mới</a>
                        </div>
                    </div>

                    <!-- Table with stripped rows -->
                    <table class="table datatable hh">
                        <thead>
                            <tr>
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">Mã hàng hóa</th>
                                <th scope="col">Tên hàng hóa</th>
                                <th scope="col">ĐVT</th>
                                <th scope="col">Giá bán</th>
                                <th scope="col">Giá sale</th>
                                <th scope="col">Thuộc nhóm</th>
                                <th scope="col">Hiển thị</th>
                                <th scope="col">Tùy chọn</th>

                            </tr>
                        </thead>
                        <tbody id="tbodyHH">
                            @foreach (HangHoa tk in ViewBag.HangHoa)
                            {
                                <tr>
                                    <td><img src="@tk?.ImgHangHoas.FirstOrDefault(x => x.IsDefault == true)?.Img" width="50" height="50"/> </td> 
                                    <td>@tk.MaHh
                                        <input type="hidden" name="idHH" value="@tk.Idhh"/>
                                    </td>
                                    <td>@tk.TenHh</td>
                                    <td>@tk?.IddvtNavigation?.TenDvt</td>
                                    <td>@tk?.GiaBan</td>
                                    <td>@tk?.GiaSale</td>
                                    @*<td>@getTenNhom(@tk.Idnhh)</td>*@
                                    <td>@tk?.IdnhhNavigation?.TenNhh</td>

                                    @if (tk.HienThi == true)
                                    {
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" name="hienthi" id="flexSwitchCheckDefault" checked>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" name="hienthi" id="flexSwitchCheckDefault">
                                            </div>
                                        </td>
                                    }
                                    <td>
                                        <a href="/HangHoa/ViewSua/@tk.Idhh" type="button" class="btn btn-primary btn-sm">Sửa</a>
                                        <a href="/HangHoa/Xoa/@tk.Idhh" onclick="return confirm('Bạn có muốn xóa thông tin?')" type="button" class="btn btn-outline-danger btn-sm">Xóa</a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>


<script>
    $('.hh').on('click', 'input[name="hienthi"]', function () {
        console.log(123);
        var idHH = $(this).closest('tr').find('input[name="idHH"]').val();
        $.ajax({
            url: '/HangHoa/UpdateHienThi', // Đường dẫn đến action xử lý form
            method: 'POST',
            data: {
                idHH: idHH,
            },
        });
    });
</script>
