@{
    ViewData["Title"] = "Slide";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";


}

@model BanHangOnl.Models.SideQuangCao


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Horizontal Form</h5>

        <!-- Horizontal Form -->
        <form action="/SideQuangCao/Them" method="post">

            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Hình ảnh</label>
                <div class="col-sm-10">
                    <div class="col-md-8 col-lg-9">
                        <input type="file" id="fileInput" class="custom-file-input" name="file" style="display: none">
                        <label class="custom-file-upload btn btn-primary btn-sm" for="fileInput">
                            <i class="bi bi-upload"></i> Tải lên tệp
                        </label>
                    </div>

                    <div class="form-check">

                        <input class="form-check-input" type="checkbox" id="changesMade" checked="">

                    </div>
                    <div class="col-md-8 col-lg-9">

                        <img src="/AdAssets/img/profile-img.jpg" alt="Profile">
                        <div class="pt-2">
                            <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                            <a href="#" class="btn btn-danger btn-sm" title="Remove img"><i class="bi bi-trash"></i></a>
                        </div>
                    </div>


                </div>
            </div>


            
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form><!-- End Horizontal Form -->

    </div>
</div>



