@{
    ViewData["Title"] = "Detail";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";


}

@model BanHangOnl.Models.NhomTinTuc

<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/NhomTinTuc">Danh sách nhóm tin tức</a></li>
            <li class="breadcrumb-item active">Sửa thông tin nhóm tin tức</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Horizontal Form</h5>

        <!-- Horizontal Form -->
        <form action="/NhomTinTuc/Sua" method="post">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tên nhóm</label>
                <div class="col-sm-10">
                    <input asp-for="@Model.TenNtt" type="text" class="form-control" id="inputText">
                    <input asp-for="@Model.Idntt" type="hidden" class="form-control" id="inputText">
                </div>
            </div>
            
           

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <button type="reset" class="btn btn-secondary" onclick="window.history.go(-1);">Hủy</button>
            </div>
        </form><!-- End Horizontal Form -->

    </div>
</div>



