
@{
    ViewData["Title"] = "Chi tiết tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";


    QuanLyBanHangContext context = new QuanLyBanHangContext();

}

<link rel="stylesheet" type="text/css" href="~/usassets/styles/main_styles.css">

<div class="row">
    <section class="right-content col-lg-9 col-12 mx-auto">
		<article class="article-main">
			<div class="article-details">
				<h1 class="article-title title_page">[Ben &amp; Tod Tuyển Dụng] PHOTOGRAPHER</h1>
				<div class="media ">
					<div class="media-body text-right">
						<div class="mt-0 ">Đinh Hoàng Phi</div>
						<div class="art-info text-muted font-weight-light justify-content-end ">
										
							<span>
								<svg class="icon"><use xlink:href="#icon-calendar"></use></svg>Th 6 27/10/2023  
							</span>
							<span class="reading-time">
								<svg class="icon"><use xlink:href="#icon-clock"></use></svg>1 phút đọc
  							</span> 
						</div>
					</div>
				</div>
							

				<div class="article-content js-toc-content">
					<div class="rte" id="ega-uti-editable-content" data-platform="haravan" data-id="1002166300" data-blog-id="1000618488"></div>
				</div>
			</div>
		</article>
	</section>
</div>		
				


