@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    QuanLyBanHangContext context = new QuanLyBanHangContext();


    string formatNumber(double? tien)
    {
        return tien?.ToString("0,###");
    }



    //string getTenNhom(int? id)
    //{
    //    if (id > 0)
    //    {
    //        return context.NhomHangHoas.Find(id).TenNhh;

    //    }
    //    else
    //    {
    //        return "";
    //    }
    //}

}


<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách phiếu xuất</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">


    <div class="card">
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <h5 class="card-title">Datatables</h5>
                </div>
                <div class="col-auto mt-3">
                    <a href="/DonDatHang/Them" class="btn btn-success">Thêm mới</a>
                </div>
            </div>

            <!-- Table with stripped rows -->
            <table class="table datatable">
                <thead>
                    <tr>
                        <th scope="col">Số phiếu xuất</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Ngày xuất</th>
                        <th scope="col">Người xuất</th>
                        <th scope="col">Ghi chú</th>
                        <th scope="col">Tùy chọn</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (PhieuXuat tk in ViewBag.PhieuXuat)
                    {
                        <tr>
                            <td>@tk.SoPx</td>
                            <td></td>
                            <td>@formatNumber(@tk?.ChiTietPhieuXuats?.Sum(x => x.Gia * x.SoLuong))</td>
                            <td>@tk.NgayTao</td>
                            <td>@tk?.IdnvNavigation?.Ten</td>
                            <td>@tk?.GhiChu</td>
                            <td>
                                <a href="/DonDatHang/ChiTietDonDatHang/@tk.Idpx" type="button" class="btn btn-primary btn-sm">Xem</a>

                            </td>

                        </tr>
                    }


                </tbody>
            </table>
            <!-- End Table with stripped rows -->

        </div>
    </div>



</section>


