/* _content/BanHangOnl/Areas/Admin/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1h11pv3tg9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1h11pv3tg9] {
  color: #0077cc;
}

.btn-primary[b-1h11pv3tg9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1h11pv3tg9], .nav-pills .show > .nav-link[b-1h11pv3tg9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1h11pv3tg9] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1h11pv3tg9] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1h11pv3tg9] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1h11pv3tg9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1h11pv3tg9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BanHangOnl/Areas/Admin/Views/Shared/_LoginLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fbruewm4eg] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-fbruewm4eg] {
    color: #0077cc;
}

.btn-primary[b-fbruewm4eg] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fbruewm4eg], .nav-pills .show > .nav-link[b-fbruewm4eg] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-fbruewm4eg] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-fbruewm4eg] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fbruewm4eg] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fbruewm4eg] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-fbruewm4eg] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
/* _content/BanHangOnl/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ge1q6dcgtb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ge1q6dcgtb] {
  color: #0077cc;
}

.btn-primary[b-ge1q6dcgtb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ge1q6dcgtb], .nav-pills .show > .nav-link[b-ge1q6dcgtb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ge1q6dcgtb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ge1q6dcgtb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ge1q6dcgtb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ge1q6dcgtb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ge1q6dcgtb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
