@{
    ViewBag.Title = "Thanh toán";
    Layout = "/Views/Shared/_Layout.cshtml";


}


<style>
    .error {
        color: red;
    }
</style>

<link rel="stylesheet" type="text/css" href="~/usassets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/usassets/styles/categories_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/GioHang">Giỏ hàng</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->

         <form action="/GioHang/CreatePaymentUrl" id="frmCreateOrder" method="POST">
                <div class="row" style="justify-content:center">

                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label for="hoTen">Họ tên:</label>
                        <input type="text" class="form-control" id="hoTen" name="hoTen">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8">
                                <label for="hoTen">Email</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            
                            <div class="col-4">
                                <label for="hoTen">SĐT</label>
                                <input type="tel" class="form-control" id="sdt" name="sdt">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hoTen">Địa chỉ:</label>
                        <input type="text" class="form-control" id="add" name="add">
                    </div>
                    <!-- Thêm các trường thông tin khác cần nhập -->

                </div>
                <div class="col-md-4" >

                        <div id="divHH">

                        </div>

                        <hr class="my-4">

                        <div class="d-flex justify-content-between mb-5">
                            <h5 class="text-uppercase">Tổng cộng: </h5>
                            <input name="Amount" id="Amount" type="hidden" />
                            <h5 id="tongGia"> VNĐ</h5>

                        </div>

                    <button type="submit" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark" id="thanhToanButton">
                        THANH TOÁN
                    </button>
                    <button type="submit" class="btn btn-primary">Thanh toán (Checkout)</button>
                </div>
                </div>

        </form>
           
           

            

        </div>
    </div>
</div>
<script src="~/jsadmin/thanhtoan.js"></script>
<script src="~/usassets/js/categories_custom.js"></script>
