@using Microsoft.AspNetCore.Mvc.ViewFeatures
@{
	ViewData["Title"] = "Thông tin tài khoản";
	Layout = "/Views/Shared/_Layout.cshtml";

	QuanLyBanHangContext context = new QuanLyBanHangContext();
}

<h1>TEST</h1>
